.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [main-content] 80% [side-bar] auto;
  grid-template-rows: [main-row] 70vh [dashboard] 30vh;
}

.main {
  background-color: black;
  grid-column: main-content / side-bar;
  grid-row: main-row / dashboard;
}

.active-quests {
  background-color: blue;
  grid-column: side-bar;
  grid-row: main-row / dashboard;
}

.dashboard {
  background-color: red;
  grid-column: main-content / span 2;
  grid-row: dashboard / span 1;
}
